body{
  background-color: rgb(8, 5, 27);
  }

  .cont-boton{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 55px;
  }

  .boton{
    background: #fff; /* color de fondo */
    color: #092e31; /* color de fuente */
    border: 2px solid #0f302c; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    
  }
  .boton:hover{
    color: #fff; /* color de fuente hover */
  }

  .boton::after{
    content: "";
    background: #338f83; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .boton:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }