.custom-table{
  width: 100%;
  height: 100vh;
  
}
.custom-table .ant-table-thead > tr > th {
    background-color:#176B87; /* Color de fondo para el encabezado de la columna */
    color: aliceblue;
    
  }

  .custom-table .ant-table-thead .span{
   color: white
    
  }


  .custom-table .ant-table-column-sort {
    background-color: #8aca4f !important; /* Cambia el gris claro a un azul suave */
  }